html,body{
    height: 100%;
    width: 100%;
}

.navbar{
    font-size: 1.2em;
    padding: 0.25% 1%;
}
#home{
    background: url(/img/water.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}

.landing-text{
    display:table-cell;
    text-align: center;
    vertical-align: middle; 
}

.landing-text h1{
    font-size: 400%;
    font-weight: 700;
}

.headest{
    padding-top: 10%;
}



.bottle img{
    text-align: end;
    max-width: 300px;
    text-align: justify;
    vertical-align: auto; 
}

.padding{
    padding: 100px 0px 0px 0px;
}

.padding img{
    width: 100%;
}


.bottle-text{
    padding-top: 15%;
}

.bottles img{
    max-width: 200px;
    padding-top: 50px;
}

#fixed{
    background: url(/img/mountains.jpg) no-repeat center center fixed;
    display: table;
    height: 60%;
    position: relative;
    width: 100%;
    background-size: cover;
    margin-top: 100px;
}

footer{
    width: 100%;
    background-color: white;
    padding: 2.5% 2.5% 5% 2.5%;
}

.email{
    color: black;
}

.email:hover{
    color: coral;
    text-decoration: none;
}

.fa{
    padding: 15px;
    font-size: 25px;
    color: black;
}

.fa:hover{
    text-decoration: none;
    color: coral;
}

.icon{
    max-width: 300px;
}


@media(max-width: 768px) {

    .fa{
        font-size: 20px;
        padding: 10px;
    }

    .icon{
        padding-top: 5%;
    }
}



@media(max-width: 720px) {


    .midbot{
        text-align: center;
    }
}